//!Custom Color Variables !//
$primary-color: #28a745;
$secondary-color: #f4f6fc;
$highlight-color: #ff6f61;
$accent-color: #007bff;
$text-color: #343a40;
$bg-color: #ffffff;
//!Custom Color Variables !//